<h1>Create a new Problem</h1>

<%= render :partial => 'shared/error_messages', :locals => { :x => @newprob } %>

<br>
<%= form_for(@newprob) do |p| %>
  <%= render :partial => 'shared/error_messages', :collection => @newprob, :as => :x %>
  <div class="field">
    <%= p.label :question %><br />
    <%= p.text_field :question %>
  </div>
  <%= hidden_field_tag 'type', @newprob.problem_type %>
  <%= p.fields_for :answers do |builder| %>
    <div class="field">
      <%= builder.label :content, "Answer" %><br />
      <%= builder.text_field :content %>
    </div>
    <div class="checkbox">
      <%= builder.label :correct, "True" %>
      <%= builder.check_box :correct %>
    </div>
  <% end %>
  <div class="actions">
    <%= p.submit "Save" %>
    <%= p.submit "Problem", :name => "generate" %>
    <%= p.submit "SimpleAlgProblem", :name => "generate" %>
  </div>
<% end %>

