<h1>Create a new Problem</h1>

<%= render :partial => 'shared/error_messages', :locals => { :x => @newprob } %>

<br>
<%= form_for(@newprob) do |p| %>
  <%= render :partial => 'shared/error_messages', :collection => @newprob, :as => :x %>
  <div class="field">
    <%= p.label :question %><br />
    <%= p.text_field :question %>
  </div>
  <div class="field">
    <%= p.label :answer %><br />
    <%= p.text_field :answer %>
  </div>
  <%= hidden_field_tag 'type', @newprob.problem_type %>
  <div class="actions">
    <%= p.submit "Save" %>
    <%= p.submit "Problem", :name => "generate" %>
    <%= p.submit "SimpleAlgProblem", :name => "generate" %>
  </div>
<% end %>

