<h1 id="new_problem">New Problem</h1>


<%= form_for(@prob) do |p| %>
  <div class="field">
    <%= p.label :question %><br />
    <%= p.text_field :question %>
  </div>
  <div class="field">
    <%= p.label :answer %><br />
    <%= p.text_field :answer %>
  </div>
  <div class="actions">
    <%= p.submit "New Problem" %>
  </div>
<% end %>

